.btn{
    font-size: 18px;
    line-height: 1.27;
    color: #000;
    transition: 0.3s ease-in-out;
    padding: 12px 16px;
    background-color: #FFDF31;
    border: 1px solid transparent;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
      border-color: #000;
      transition: 0.3s ease-in-out;
      background-color: transparent;
    }
}
